<ion-view title="post" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="post-form4" class="list">
      <label class="item item-input" id="post-textarea1">
        <span class="input-label">Post</span><textarea placeholder=""></textarea></label>
      <div id="post-button-bar1" class="button-bar">
        <button id="post-button9" class="button button-calm  button-block icon ion-images"></button>
        <button id="post-button10" class="button button-balanced  button-block icon ion-android-camera"></button>
        <button id="post-button11" class="button button-assertive  button-block icon ion-ios-location"></button>
      </div>
      <a ui-sref="page1.page2" id="post-button13" class="button button-dark  button-block">Post</a>
    </form>
  </ion-content>
</ion-view>